<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
		h3 {
			font-size: 28px;
		}
		h2 {
			font-size: 32px;
		}
		tbody {
			vertical-align: middle !important;
		}
		.main_content > div:nth-child(1) {
			padding-bottom: 20px;
			border-bottom: 1px solid silver;
		}
		.main_content > div:nth-child(2) {
			padding-top: 20px;
		}
		.table {
			width: inherit;
		}
		h4 {
			font-weight: bold;
		}
	</style>
</th:block>

<div layout:fragment="content">
	<div class="d-flex">
		<aside class="sidebar d-flex flex-column align-items-center">
			<div class="sidebar_subject">
				<h3>성적 조회</h3>
			</div>
			<div class="sidebar_list">
				<ul>
					<li><a href="/students/score/current" class="active_tab">이번 학기 성적 조회</a></li>
					<li><a href="/students/score/semester">학기별 성적 조회</a></li>
					<li><a href="/students/score/total">누계 성적</a></li>
				</ul>
			</div>
		</aside>

		<main>
			<div class="main_subject">
				<h2>이번 학기 성적 조회</h2>
			</div>
			<div class="main_content">
				
				<div th:if="${!#lists.isEmpty(studentLectureList)}">
					<h4>강의별 성적</h4>
					<table class="table table-bordered border-secondary-subtle" th:if="${!#lists.isEmpty(studentLectureList)}">
						<thead>
							<tr class="table-secondary">
								<th scope="col">년도</th>
								<th scope="col">학기</th>
								<th scope="col">강의코드</th>
								<th scope="col">강의번호</th>
								<th scope="col">강의명</th>
								<th scope="col">강의구분</th>
								<th scope="col">담당교수</th>
								<th scope="col">이수학점</th>
								<th scope="col">성적</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="studentLecture : ${studentLectureList}">
								<td scope="row" th:text="${studentLecture.year} + '년'"></td>
								<td th:text="${studentLecture.semester} + '학기'"></td>
								<td th:text="${studentLecture.lectureCodeDetail}"></td>
								<td th:text="${studentLecture.lectureId}"></td>
								<td th:text="${studentLecture.lectureName}"></td>
								<td th:text="${studentLecture.type}"></td>
								<td th:text="${studentLecture.professorName}"></td>
								<td th:text="${studentLecture.credit}"></td>
								<td th:text="${studentLecture.grade}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<p style="font-size: 25px;" th:unless="${!#lists.isEmpty(studentLectureList)}">아직 이번 학기에 점수가 입력된 강의가 없습니다.</p>
				
				<div th:if="${studentLectureScore != null}">
					<h4>학점 및 평점</h4>
					<table class="table table-bordered border-secondary-subtle">
						<thead>
							<tr class="table-secondary">
								<th scope="col">년도</th>
								<th scope="col">학기</th>
								<th scope="col">신청학점</th>
								<th scope="col">취득학점</th>
								<th scope="col">평균평점</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td scope="row" th:text="${studentLectureScore.year} + '년'"></td>
								<td th:text="${studentLectureScore.semester} + '학기'"></td>
								<td th:text="${studentLectureScore.totalCredit} + '점'"></td>
								<td th:text="${studentLectureScore.totalGetCredit} + '점'"></td>
								<td th:text="${studentLectureScore.averageScore}"></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</main>
	</div>
</div>

<!-- 각 페이지의 자바스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			$(".score").addClass("active_tab");
		});
	</script>
</th:block>

</html>