<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
	
<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
		h3 {
			font-size: 28px;
		}
		
		h2 {
			font-size: 32px;
		}
	</style>
</th:block>	

<div layout:fragment="content">
	<div class="d-flex">
		<aside class="sidebar d-flex flex-column align-items-center">
			<div class="sidebar_subject">
				<h3>수강 신청</h3>
			</div>
			<div class="sidebar_list">
				<ul>
					<li><a href="/students/lecture/list" class="active_tab">강의 시간표 조회</a></li>
					<li><a href="/students/lecture/registration/list">수강 신청</a></li>
					<li><a href="/students/lecture/registration/history">수강 신청 내역 조회</a></li>
				</ul>
			</div>
		</aside>

		<main>
			<div class="main_subject">
				<h2>강의 시간표 조회</h2>
			</div>
			<div class="main_content">
			
				<form th:action="@{/students/lecture/list/0}" method="get" th:object="${lectureSchedules}">
					<div class="search_form" th:objcet="${lectureSearchDto}">
						<label th:for="type">강의구분</label>
						<select th:name="type" th:id="type">
							<option value="">전체</option>
							<option value="전공">전공</option>
							<option value="교양">교양</option>
						</select>
						
						<label th:for="departmentId">개설학과</label>
						<select th:name="departmentId" th:id="departmentId">
							<option value="0">전체</option>
							<option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}"></option>
						</select>
						
						<label th:for="lectureName">강의명</label>
						<input type="text" th:name="lectureName" th:id="lectureName">
						
						<button type="submit">&nbsp;<span>조회</span>&nbsp;<i class="fa-solid fa-magnifying-glass"></i>&nbsp;</button>
					</div>
			
				
				
					<div>
						<table class="table table-bordered border-secondary-subtle">
							<thead>
							    <tr class="table-secondary">
							      <th scope="col">개설학과</th>
							      <th scope="col">강의번호</th>
							      <th scope="col">구분코드</th>
							      <th scope="col">강의구분</th>
							      <th scope="col">강의명</th>
							      <th scope="col">담당교수</th>
							      <th scope="col">학점</th>
							      <th scope="col">요일 시간 (강의실)</th>
							      <th scope="col">현재인원</th>
							      <th scope="col">정원</th>
							    </tr>
						  	</thead>
						  	<tbody>	  		
								<tr th:each="lectureSchedule : ${lectureSchedules.getContent()}">
									<td scope="row" th:text="${lectureSchedule.departmentName}"></td>
									<td th:text="${lectureSchedule.lectureId}"></td>
									<td th:text="${lectureSchedule.lectureCodeDetail}"></td>
									<td th:text="${lectureSchedule.type}"></td>
									<td th:text="${lectureSchedule.lectureName}"></td>
									<td th:text="${lectureSchedule.professorName}"></td>
									<td th:text="${lectureSchedule.credit}"></td>
									<td th:if="${lectureSchedule.startTime} < 10" th:text="|${lectureSchedule.day} 0${lectureSchedule.startTime}:00-${lectureSchedule.endTime}:00 (${lectureSchedule.lectureRoomId})|"></td>
									<td th:unless="${lectureSchedule.startTime} < 10" th:text="|${lectureSchedule.day} ${lectureSchedule.startTime}:00-${lectureSchedule.endTime}:00 (${lectureSchedule.lectureRoomId})|"></td>
									<td th:text="${lectureSchedule.numOfStudent}"></td>
									<td th:text="${lectureSchedule.capacity}"></td>
								</tr>
						  	</tbody>
						</table>
					</div>
					
					<div class="d-flex justify-content-center">
						<nav aria-label="Page navigation"
						th:with="start=${(lectureSchedules.number / maxPage) * maxPage +1},
						end=${(lectureSchedules.totalPages == 0)? 1:
						(start + (maxPage -1) < lectureSchedules.totalPages ?
						start + (maxPage -1) : lectureSchedules.totalPages)}">
							<ul class="pagination">
							    <li class="page-item" th:classappend="${lectureSchedules.first} ? 'disabled'">
							    	<a class="page-link" th:href="@{'/students/lecture/list/' + ${lectureSchedules.number -1}
							    	 + '?type=' + ${lectureSearchDto.type}
							    	 + '&departmentId=' + ${lectureSearchDto.departmentId}
							    	 + '&lectureName=' + ${lectureSearchDto.lectureName}}">이전</a>
							    </li>
							    <li class="page-item" 
							    	th:each="page : ${#numbers.sequence(start, end)}"
				    	th:classappend="${lectureSchedules.number eq page -1} ? 'active_page'">
							    	<a class="page-link" th:href="@{'/students/lecture/list/' + ${page -1}
							    	 + '?type=' + ${lectureSearchDto.type}
							    	 + '&departmentId=' + ${lectureSearchDto.departmentId}
							    	 + '&lectureName=' + ${lectureSearchDto.lectureName}}">[[${page}]]</a>
										    </li>
							    <li class="page-item" th:classappend="${lectureSchedules.last} ? 'disabled'">
							    	<a class="page-link" th:href="@{'/students/lecture/list/' + ${lectureSchedules.number +1}
							    	 + '?type=' + ${lectureSearchDto.type}
							    	 + '&departmentId=' + ${lectureSearchDto.departmentId}
							    	 + '&lectureName=' + ${lectureSearchDto.lectureName}}">다음</a>
							    </li>
							</ul>
						</nav>
					</div>
				
				</form>
			</div>
		</main>
	</div>
</div>

<!-- 각 페이지의 자바스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			$(".registration").addClass("active_tab");
			
			if([[${lectureSearchDto.type}]] == "") {
				$("#type").val("").prop("selected", true);
			} else {
				$("#type").val([[${lectureSearchDto.type}]]).prop("selected", true);
			}
			
			if([[${lectureSearchDto.departmentId}]] == 0) {
				$("#departmentId").val(0).prop("selected", true);
			} else {
				$("#departmentId").val([[${lectureSearchDto.departmentId}]]).prop("selected", true);
			}
			
			$("#lectureName").val([[${lectureSearchDto.lectureName}]]);
		});
	</script>
</th:block>

</html>