<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
		h3 {
			font-size: 28px;
		}
		
		h2 {
			font-size: 32px;
		}
		.registration_btn {
			text-align: center;
			font-weight: bold;
		}
		
		.registration_btn button {
			background-color: #cadfe3;
			padding: 3px;
			border: 1px solid cadetblue;
			border-radius: 10px;
		}
	</style>
</th:block>

<div layout:fragment="content">
	<div class="d-flex">
		<aside class="sidebar d-flex flex-column align-items-center">
			<div class="sidebar_subject">
				<h3>내 정보</h3>
			</div>
			<div class="sidebar_list">
				<ul>
					<li><a href="/students/lecture/list">강의 시간표 조회</a></li>
					<li><a href="/students/lecture/registration/list" class="active_tab" >수강 신청</a></li>
					<li><a>수강 신청 내역 조회</a></li>
				</ul>
			</div>
		</aside>

		<main>
			<div class="main_subject">
				<h2>수강 신청 가능 과목 목록</h2>
			</div>
			<div class="main_content">

				<div class="lecture_list">
					<table class="table table-bordered border-secondary-subtle">
						<thead>
							<tr>
								<th scope="col">개설학과</th>
								<th scope="col">강의번호</th>
								<th scope="col">강의구분</th>
								<th scope="col">강의명</th>
								<th scope="col">담당교수</th>
								<th scope="col">학점</th>
								<th scope="col">요일 시간 (강의실)</th>
								<th scope="col">현재인원</th>
								<th scope="col">정원</th>
								<th scope="col">수강신청하기</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="lectureSchedule : ${lectureSchedules.getContent()}">
								<td scope="row" th:text="${lectureSchedule.departmentName}"></td>
								<td th:text="${lectureSchedule.lectureId}"></td>
								<td th:text="${lectureSchedule.type}"></td>
								<td th:text="${lectureSchedule.lectureName}"></td>
								<td th:text="${lectureSchedule.professorName}"></td>
								<td th:text="${lectureSchedule.credit}"></td>
								<td th:if="${lectureSchedule.startTime} < 10" th:text="|${lectureSchedule.day} 0${lectureSchedule.startTime}:00-${lectureSchedule.endTime}:00 (${lectureSchedule.lectureRoomId})|"></td>
								<td th:unless="${lectureSchedule.startTime} < 10" th:text="|${lectureSchedule.day} ${lectureSchedule.startTime}:00-${lectureSchedule.endTime}:00 (${lectureSchedule.lectureRoomId})|"></td>
								<td th:text="${lectureSchedule.numOfStudent}"></td>
								<td th:text="${lectureSchedule.capacity}"></td>
								<td class="registration_btn">
									<button type="button" th:value="${lectureSchedule.lectureId}" onclick="regist(this.value)">수강신청</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="d-flex justify-content-center">
					<nav aria-label="Page navigation"
					th:with="start=${(lectureSchedules.number / maxPage) * maxPage +1},
						end=${(lectureSchedules.totalPages == 0)? 1:
						(start + (maxPage -1) < lectureSchedules.totalPages ?
						start + (maxPage -1) : lectureSchedules.totalPages)}">
						<ul class="pagination">
							<li class="page-item" th:classappend="${lectureSchedules.first} ? 'disabled'">
								<a class="page-link" th:href="@{'/students/lecture/registration/list/' + ${lectureSchedules.number -1}}">이전</a>
							</li>
							<li class="page-item"
								th:each="page : ${#numbers.sequence(start, end)}"
								th:classappend="${lectureSchedules.number eq page -1} ? 'active_page'">
								<a class="page-link" th:href="@{'/students/lecture/registration/list/' + ${page -1}}">[[${page}]]</a>
							</li>
							<li class="page-item" th:classappend="${lectureSchedules.last} ? 'disabled'">
								<a class="page-link" th:href="@{'/students/lecture/registration/list/' + ${lectureSchedules.number +1}}">다음</a>
							</li>
						</ul>
					</nav>
				</div>

			</div>
		</main>
	</div>
</div>

<!-- 각 페이지의 자바스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			$(".registration").addClass("active_tab");
		});
		
		function regist(lectureId) {
			const registConf = confirm("수강신청 하시겠습니까?");
			
			if(!registConf) return; // 취소버튼 누를시
			
			var token = $("meta[name='_csrf']").attr("content");
	        var header = $("meta[name='_csrf_header']").attr("content");
			
	        var url = "/students/lecture/registration/" + lectureId;
	        var paramData = {
	        	lectureId : lectureId
	        };
	        
	        var param = JSON.stringify(paramData);
	        
	        $.ajax({
	            url      : url,
	            type     : "POST",
	            contentType : "application/json",
	            data     : param,
	            beforeSend : function(xhr){
	                /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
	                xhr.setRequestHeader(header, token);
	            },
	            dataType : "json",
	            cache   : false,
	            success  : function(result, status){
	            	alert(result);
	                location.href='/students/lecture/registration/list/' + [[${page}]];
	            },
	            error : function(jqXHR, status, error){
	                if(jqXHR.status == '401'){
	                    alert('로그인 후 이용해주세요');
	                    location.href='/users/login';
	                } else{
	                    alert(jqXHR.responseText);
	                }
	            }
	        });
		}
	</script>
</th:block>

</html>