<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
		h3 {
			font-size: 28px;
		}
		
		h2 {
			font-size: 32px;
		}
		
		th {
			width: 10%;
			text-align: center;
		}
		
		td {
			width: 40%;
		}
	</style>
</th:block>

<div layout:fragment="content">
	<div class="d-flex">
		<aside class="sidebar d-flex flex-column align-items-center">
			<div class="sidebar_subject">
				<h3>내 정보</h3>
			</div>
			<div class="sidebar_list">
				<ul>
					<li><a class="active_tab" href="/students/info">내 정보</a></li>
					<li><a>비밀번호 변경</a></li>
				</ul>
			</div>
		</aside>

		<main>
			<div class="main_subject">
				<h2>내 정보</h2>
			</div>
			<div class="main_content" th:object="${studentInfoDto}">
				<table class="table table-bordered">
					<tr>
						<th class="table-light">학번</th>
						<td>[[${studentInfoDto.id}]]</td>
						<th class="table-light">입학일</th>
						<td>[[${studentInfoDto.entranceDate}]]</td>
					</tr>
					<tr>
						<th class="table-light">이름</th>
						<td>[[${studentInfoDto.name}]]</td>
						<th class="table-light">생년월일</th>
						<td>[[${studentInfoDto.birthDate}]]</td>
					</tr>
					<tr>
						<th class="table-light">성별</th>
						<td>[[${studentInfoDto.gender}]]</td>
						<th class="table-light">전화번호</th>
						<td>[[${studentInfoDto.tel}]]</td>
					</tr>
					<tr>
						<th class="table-light">학과</th>
						<td>[[${studentInfoDto.departmentName}]]</td>
						<th class="table-light">이메일</th>
						<td>[[${studentInfoDto.email}]]</td>
					</tr>
					<tr>
						<th class="table-light">학년</th>
						<td>[[${studentInfoDto.grade}]]학년</td>
						<th class="table-light">학기</th>
						<td>[[${studentInfoDto.semester}]]학기</td>
					</tr>
					<tr>
						<th class="table-light">주소</th>
						<td>[[${studentInfoDto.address}]]</td>
						<th class="table-light"></th>
						<td></td>
					</tr>
				</table>
				<div class="d-flex justify-content-center">			
					<a class="btn btn-primary" href="/students/info/modify" role="button">정보수정</a>
				</div>
			</div>
		</main>
	</div>
</div>

<!-- 각 페이지의 자바스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			$(".info").addClass("active_tab");
		});
	</script>
</th:block>

</html>