<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
</th:block>

<div layout:fragment="content">
	<div class="d-flex">	
		<aside class="sidebar d-flex flex-column align-items-center">
			<div class="sidebar_subject">
				<h3>성적</h3>
			</div>
			<div class="sidebar_list">			
				<ul>
					<li><a>메뉴1</a></li>
					<li><a>메뉴2</a></li>
					<li><a>메뉴3</a></li>
					<li><a>메뉴4</a></li>
					<li><a>메뉴5</a></li>
				</ul>
			</div>
		</aside>
		
		<main>
			<div class="main_subject">
				<h2>메뉴1</h2>
			</div>
			<div class="main_content">컨텐츠</div>
		</main>
	</div>
</div>
	
<!-- 각 페이지의 자바스크립트가 작성될 위치 -->
<th:block layout:fragment="script"></th:block>

</html>