<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
		h3 {
			font-size: 28px;
		}
		
		h2 {
			font-size: 32px;
		}
		
		.mgmt_btn {
			text-align: center;
			font-weight: bold;
		}
		
		.mgmt_btn button, .insert_btn {
			background-color: #cadfe3;
			padding: 3px;
			border: 1px solid cadetblue;
			border-radius: 10px;
		}
		
		.table {
			width: inherit;
		}
		
		form > div {
			margin-bottom: 10px;
		}
		
		.fieldError {
			color: #bd2130;
		}
	</style>
</th:block>

<div layout:fragment="content">
	<div class="d-flex">
		<aside class="sidebar d-flex flex-column align-items-center">
			<div class="sidebar_subject">
				<h3>학사관리</h3>
			</div>
			<div class="sidebar_list">
				<ul>
					<li><a href="/staffs/management/list/student">학생 명단 조회</a></li>
					<li><a href="/staffs/management/list/professor">교수 명단 조회</a></li>
					<li><a href="/staffs/management/list/college">단과대 관리</a></li>
					<li><a href="/staffs/management/list/department" class="active_tab">학과 관리</a></li>
					<li><a href="/staffs/management/list/lectureRoom">강의실 관리</a></li>
					<li><a href="/staffs/management/list/lecture">강의 관리</a></li>
				</ul>
			</div>
		</aside>

		<main>
			<div class="main_subject">
				<h2>신규 학과 등록</h2>
			</div>
			<div class="main_content">
			
				<div>
					<form action="/staffs/management/register/department" method="post" th:object="${departmentFormDto}">
						<div>						
							<label th:for="departmentName">학과명</label>
							<input type="text" maxlength="15" th:field="*{departmentName}">
							<p th:if="${#fields.hasErrors('departmentName')}" th:errors="*{departmentName}" class="fieldError"></p>
						</div>
						
						<div>						
							<label th:for="collegeId">소속 단과대</label>
							<select th:field="*{collegeId}">
								<option th:each="college : ${collegeList}" th:value="${college.collegeId}">[[${college.collegeName}]]</option>
							</select>
						</div>
						
						<div>						
							<button type="submit" class="insert_btn">등록</button>
						</div>
						
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					</form>
				</div>
			
			</div>
		</main>
	</div>
</div>

<!-- 각 페이지의 자바스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			var errorMessage = [[${errorMessage}]];
	    	if(errorMessage != null){
	        	alert(errorMessage);
	    	}
			
			$(".uni_mgmt").addClass("active_tab");
		});
	</script>
</th:block>

</html>