<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
		h3 {
			font-size: 28px;
		}
		
		h2 {
			font-size: 32px;
		}
		
		.mgmt_btn {
			text-align: center;
			font-weight: bold;
		}
		
		.mgmt_btn button, .insert_btn {
			background-color: #cadfe3;
			padding: 3px;
			border: 1px solid cadetblue;
			border-radius: 10px;
		}
		
		.table {
			width: inherit;
		}
		
		form > div {
			margin-bottom: 10px;
		}
		
		.fieldError {
			color: #bd2130;
		}
		
		label {
			width: 80px;
		}
	</style>
</th:block>

<div layout:fragment="content">
	<div class="d-flex">
		<aside class="sidebar d-flex flex-column align-items-center">
			<div class="sidebar_subject">
				<h3>학사관리</h3>
			</div>
			<div class="sidebar_list">
				<ul>
					<li><a href="/staffs/management/list/student">학생 명단 조회</a></li>
					<li><a href="/staffs/management/list/professor">교수 명단 조회</a></li>
					<li><a href="/staffs/management/list/college">단과대 관리</a></li>
					<li><a href="/staffs/management/list/department">학과 관리</a></li>
					<li><a href="/staffs/management/list/lectureRoom">강의실 관리</a></li>
					<li><a href="/staffs/management/list/lecture" class="active_tab">강의 관리</a></li>
				</ul>
			</div>
		</aside>

		<main>
			<div class="main_subject">
				<h2>신규 강의 등록</h2>
			</div>
			<div class="main_content">
			
				<div>
					<form action="/staffs/management/register/lecture" method="post" th:object="${lectureFormDto}" name="myForm">
						<div>
							<label th:for="lectureName">강의명</label>
							<input type="text" th:field="*{lectureName}">
							<p th:if="${#fields.hasErrors('lectureName')}" th:errors="*{lectureName}" class="fieldError"></p>
						</div>
						
						<div>						
							<label th:for="lectureCodeId">강의코드</label>
							<select th:field="*{lectureCodeId}">
								<option th:each="lectureCode : ${lectureCodeList}" th:value="${lectureCode.lectureCodeId}">[[${lectureCode.lectureCodeDetail}]]</option>
							</select>
						</div>
						
						<div>						
							<label th:for="departmentId">학과</label>
							<select th:field="*{departmentId}">
								<option th:each="department : ${departmentList}" th:value="${department.id}">[[${department.name}]]</option>
							</select>
						</div>
						
						<div>
							<label th:for="professorId">교수번호</label>
							<input type="number" th:field="*{professorId}">
							<p th:if="${#fields.hasErrors('professorId')}" th:errors="*{professorId}" class="fieldError"></p>
						</div>
						
						<div>
							<label th:for="lectureRoomId">강의실</label>
							<input type="text" th:field="*{lectureRoomId}">
							<p th:if="${#fields.hasErrors('lectureRoomId')}" th:errors="*{lectureRoomId}" class="fieldError"></p>
						</div>
						
						<div>						
							<label th:for="type">전공구분</label>
							<select th:field="*{type}">
								<option value="전공">전공</option>
								<option value="교양">교양</option>
							</select>
						</div>
						
						<div>
							<label th:for="credit">이수학점</label>
							<select th:field="*{credit}">
								<option value="1">1학점</option>
								<option value="2">2학점</option>
								<option value="3">3학점</option>
							</select>
						</div>
						
						<div>
							<label th:for="year">강의연도</label>
							<input type="number" th:field="*{year}">
							<p th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="fieldError"></p>
						</div>
						
						<div>
							<label th:for="semester">학기</label>
							<select th:field="*{semester}">
								<option value="1">1학기</option>
								<option value="2">2학기</option>
							</select>
						</div>
						
						<div>
							<label th:for="day">요일</label>
							<select th:field="*{day}">
								<option value="월">월</option>
								<option value="화">화</option>
								<option value="수">수</option>
								<option value="목">목</option>
								<option value="금">금</option>
							</select>
						</div>
						
						<div>
							<label th:for="startTime">시작시간</label>
							<select th:field="*{startTime}">
								<option value="9">9시</option>
								<option value="10">10시</option>
								<option value="11">11시</option>
								<option value="12">12시</option>
								<option value="13">13시</option>
								<option value="14">14시</option>
								<option value="15">15시</option>
								<option value="16">16시</option>
								<option value="17">17시</option>
							</select>
						</div>
						
						<div>
							<label th:for="endTime">종료시간</label>
							<select th:field="*{endTime}">
								<option value="10">10시</option>
								<option value="11">11시</option>
								<option value="12">12시</option>
								<option value="13">13시</option>
								<option value="14">14시</option>
								<option value="15">15시</option>
								<option value="16">16시</option>
								<option value="17">17시</option>
								<option value="18">18시</option>
							</select>
						</div>
						
						<div>
							<label th:for="capacity">정원</label>
							<input type="number" th:field="*{capacity}">
							<p th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}" class="fieldError"></p>
						</div>
						
						<div>						
							<button type="button" class="insert_btn" onclick="beforeSubmit(); return false;">등록</button>
						</div>
						
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					</form>
				</div>
				
			</div>
		</main>
	</div>
</div>

<!-- 각 페이지의 자바스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			var errorMessage = [[${errorMessage}]];
	    	if(errorMessage != null){
	        	alert(errorMessage);
	    	}
			
			$(".uni_mgmt").addClass("active_tab");
		});
		
		function beforeSubmit() {
			const f = document.myForm;
			let startTime = Number(f.startTime.value);
			let endTime = Number(f.endTime.value);
			if(startTime > endTime) {
				alert("강의 종료시간은 시작시간보다 빨라야합니다.");
				return false;
			} else if(startTime == endTime) {
				alert("최소 강의시간은 1시간입니다.");
				return false;
			}
			
			f.submit();
		}
	</script>
</th:block>

</html>