<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
		h3 {
			font-size: 28px;
		}
		
		h2 {
			font-size: 32px;
		}
		
		tbody {
			vertical-align: middle !important;
		}
		
		.student_list_btn {
			text-align: center;
			font-weight: bold;
		}
		
		.student_list_btn button {
			background-color: #cadfe3;
			padding: 3px;
			border: 1px solid cadetblue;
			border-radius: 10px;
		}
		
		.table {
			width: inherit;
		}
	</style>
</th:block>

<div layout:fragment="content">
	<div class="d-flex">
		<aside class="sidebar d-flex flex-column align-items-center">
			<div class="sidebar_subject">
				<h3>강의</h3>
			</div>
			<div class="sidebar_list">
				<ul>
					<li><a href="/professors/lecture/list">학기별 강의 조회</a></li>
					<li><a href="/professors/lecture/score" class="active_tab">학생 성적 입력</a></li>
				</ul>
			</div>
		</aside>

		<main>
			<div class="main_subject">
				<h2>이번 학기 내 강의 목록</h2>
			</div>
			<div class="main_content">
				<div>
					<table class="table table-bordered border-secondary-subtle">
						<thead>
							<tr class="table-secondary">
								<th scope="col">강의번호</th>
								<th scope="col">강의코드</th>
								<th scope="col">강의구분</th>
								<th scope="col">강의명</th>
								<th scope="col">학점</th>
								<th scope="col">요일 시간 (강의실)</th>
								<th scope="col">현재인원</th>
								<th scope="col">정원</th>
								<th scope="col">학생목록</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="professorLecture : ${professorLectures}">
								<td th:text="${professorLecture.lectureId}"></td>
								<td th:text="${professorLecture.lectureCodeDetail}"></td>
								<td th:text="${professorLecture.type}"></td>
								<td th:text="${professorLecture.lectureName}"></td>
								<td th:text="${professorLecture.credit}"></td>
								<td th:if="${professorLecture.startTime} < 10" th:text="|${professorLecture.day} 0${professorLecture.startTime}:00-${professorLecture.endTime}:00 (${professorLecture.lectureRoomId})|"></td>
								<td th:unless="${professorLecture.startTime} < 10" th:text="|${professorLecture.day} ${professorLecture.startTime}:00-${professorLecture.endTime}:00 (${professorLecture.lectureRoomId})|"></td>
								<td th:text="${professorLecture.numOfStudent}"></td>
								<td th:text="${professorLecture.capacity}"></td>
								<td class="student_list_btn">
									<button type="button" th:onclick="|location.href='@{/professors/lecture/score/}@{${professorLecture.lectureId}}'|">학생목록</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>
	</div>
</div>

<!-- 각 페이지의 자바스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			var errorMessage = [[${errorMessage}]];
        	if(errorMessage != null){
            	alert(errorMessage);
        	}
			
			$(".lecture").addClass("active_tab");
		});
	</script>
</th:block>

</html>