<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	  
	<div th:fragment="header" class="header">
		<div class="header_top">
			<ul class="d-flex justify-content-end">
				<li><i class="fa-solid fa-circle-user fa-lg"></i></li>
				<li>[[${#authentication.principal.name}]]님 ([[${#authentication.principal.username}]])</li>
				<li>|</li>
				<li><i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i></li>
				<li><a href="/users/logout" sec:authorize="isAuthenticated()">로그아웃</a></li>
			</ul>
		</div>
		<nav class="navbar header_menu justify-content-start">
			<span><i class="fa-solid fa-graduation-cap fa-xl" style="color: #cadfe3;"></i> 이젠 대학교</span>
			<!-- 학생용 메뉴 -->
			<ul class="d-flex" sec:authorize="hasAnyAuthority('ROLE_STUDENT')">
				<li><a href="/main">홈</a></li>
				<li><a>내 정보</a></li>
				<li><a>수강신청</a></li>
				<li><a>성적</a></li>
				<li><a>학사정보</a></li>
			</ul>
			
			<!-- 교수용 메뉴 -->
			<ul class="d-flex" sec:authorize="hasAnyAuthority('ROLE_PROFESSOR')">
				<li><a href="/main">홈</a></li>
				<li><a>내 정보</a></li>
				<li><a>강의</a></li>
				<li><a>학사정보</a></li>
			</ul>
			
			<!-- 교직원용 메뉴 -->
			<ul class="d-flex" sec:authorize="hasAnyAuthority('ROLE_STAFF')">
				<li><a href="/main">홈</a></li>
				<li><a href="/staffs/info">내 정보</a></li>
				<li><a>학사관리</a></li>
				<li><a>학사정보</a></li>
			</ul>
		</nav>
	</div>
</html>