@charset "UTF-8";

.index_background img {
	width: 1200px;
}

.index_content_wrap {
	margin-top: 20px;
}

.index_content {
	width: 500px;
	margin-right: 100px;
}

.index_content h3 {
	padding-bottom: 5px;
	border-bottom: 1px solid silver;
}

.index_content ul {
	padding: 0;
}