@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

a {
	cursor: pointer;
	text-decoration: none !important;
}

ul {
	list-style: none;
}

.header {
	min-width: 1200px;
	margin: 0 10px 30px 10px;
	border-bottom: 1px solid silver;
}

.header_top {
	height: 40px;
	line-height: 40px;
	background-color: #cadfe3;
}

.header_top > ul {
	margin: 0 20px;
}

.header_top > ul li:nth-child(2),
.header_top > ul li:nth-child(5) {
	font-weight: bold;
}

.header_top > ul li:nth-child(3) {
	font-weight: bold;
	margin: 0 10px;
}

.header_top > ul li:nth-child(1),
.header_top > ul li:nth-child(4) {
	margin: 0 5px;
}

.header_menu {
	margin: 5px 0 5px 10px;
}

.header_menu a {
	font-size: 25px;
	font-weight: bold;
}

.header_menu > a {
	margin-right: 10px;
}

.header_menu > a span {
	color: cadetblue;
	margin-left: 10px;
}

.header_menu ul {
	margin: 0 20px;
}

.header_menu ul li {
	margin: 0 30px 0 30px;
}

.header_menu ul li a {
	padding: 0 20px;
}

.header_menu ul li a:hover {
	color: cadetblue !important;
}

.content {
	min-width: 1200px;
}