@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

a {
	cursor: pointer;
	text-decoration: none !important;
}

ul {
	list-style: none;
}

/* 헤더 부분 */
.header {
	min-width: 1200px;
	margin: 0 10px 30px 10px;
	border-bottom: 1px solid silver; 
}

.header_top {
	height: 40px;
	line-height: 40px;
	background-color: #cadfe3;
}

.header_top > ul {
	margin: 0 20px;
}

.header_top > ul li:nth-child(2),
.header_top > ul li:nth-child(5) {
	font-weight: bold;
}

.header_top > ul li:nth-child(3) {
	font-weight: bold;
	margin: 0 10px;
}

.header_top > ul li:nth-child(1),
.header_top > ul li:nth-child(4) {
	margin: 0 5px;
}

.header_menu {
	margin: 5px 0 5px 10px;
}

.header_menu a {
	font-size: 25px;
	font-weight: bold;
}

.header_menu > a {
	margin-right: 10px;
}

.header_menu > a span {
	color: cadetblue;
	margin-left: 10px;
}

.header_menu ul {
	margin: 0 20px;
}

.header_menu ul li {
	margin: 0 30px 0 30px;
}

.header_menu ul li a {
	padding: 0 20px;
}

.header_menu ul li a:hover {
	color: cadetblue !important;
}

/* 중간부분 */
.content {
	min-width: 1200px;
}

/* 사이드바 */
.sidebar {
	width: 250px;
	text-align: center;
}

.sidebar_subject {
	width: 80%;
	border-bottom: 3px solid cadetblue;
}

.sidebar_subject h3 {
	margin-bottom: 15px;
	font-weight: bold;
}

.sidebar_list {
	width: 70%;
}

.sidebar_list ul {
	padding: 0px;
	font-size: 20px;
}

.sidebar_list ul li {
	margin-bottom: 15px;
	padding-top: 15px;
}

.sidebar_list ul li:not(:first-child) {
	border-top: 1px solid silver;
}

/* 본문 */
main {
	width: 900px;
	margin-left: 50px;
}

.main_subject {
	border-bottom: 3px solid silver;
	margin-bottom: 20px;
}

.main_subject h2 {
	margin-bottom: 15px;
	font-weight: bold;
}

