<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<link th:href="@{css/main.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
	<div class="d-flex flex-column">
		<div class="index_background"><img alt="학교 이미지" src="/images/campus.jpg"></div>
			<div class=" index_content_wrap d-flex">
				<div>
					<div class="index_content">
						<h3>공지사항</h3>
						<div>
							<ul>
								<li><a>게시글1</a></li>
								<li><a>게시글2</a></li>
								<li><a>게시글3</a></li>
								<li><a>게시글4</a></li>
								<li><a>게시글5</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div>
					<div class="index_content">
						<h3>학사일정</h3>
						<div>
							<ul>
								<li><a>게시글1</a></li>
								<li><a>게시글2</a></li>
								<li><a>게시글3</a></li>
								<li><a>게시글4</a></li>
								<li><a>게시글5</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>

<!-- 각 페이지의 자바스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			$(".home").addClass("active_tab");
		});
	</script>
</th:block>

</html>